/* General styles */

* {
	box-sizing: border-box;
	/* stolen from https://systemfontstack.com/ */
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

body {
	margin: 0 1rem;
}

#content {
	margin: 0 auto;
	max-width: 60rem;
}

.image-container {
	display: flex;
	justify-content: center;
}

/* Navigation bar */
nav {
	border-bottom: 2px solid black;
	margin-bottom: 1.5rem;
}

nav p {
	display: inline-block;
	margin-right: 2rem;
	font-weight: 700;
}

nav ul {
	float: right;
	list-style-type: none;
	padding-left: 0;
}

nav ul li {
	display: inline-block;
	margin-left: 1rem;
}

/* About page */
#about h1 {
	text-align: center;
}

#about img {
	max-height: 30rem;
	max-width: 30rem;
	border: 2px solid black;
}

#about p {
	padding: 0 20%;
	font-size: 1.2rem;
	text-align: center;
}

.profiles {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profiles i {
	margin: 0 1rem;
}
.profiles a {
	text-decoration: none;
	color: black;
}

/* Projects page */
.project {
	margin: 2rem 0;
}
.project .description {
	margin-bottom: 0.5rem;
}
.project .language {
	margin: 0;
	font-size: 0.8rem;
	font-style: italic;
}

/* Contact page */
.contact {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact form {
	width: 100%;
	max-width: 30rem;
	border-radius: 10px;
	background-color: #f2f2f2;
	border: 1px solid rgba(1,1,1,0.1);
	padding: 1.5rem;
}

form > .field:not(:first-child) {
	margin-top: 1.5rem;
}

form > .field input, form > .field textarea, form > input[type="submit"] {
	padding: 0.5rem;
	width: 100%;
}

form > .field textarea {
	resize: vertical;
}
