{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div id="about">
	<h1>Hello! My name is John Doe.</h1>
	<div class="image-container">
		<img src="{{ url_for('static', filename='john-doe.jpeg') }}" />
	</div>
	<p>This is a piece of text about me, it's isn't actually about anyone
		real since this is an example project; but the point is it totally
		could be</p>
	<div class="profiles">
		<div>
			<a href="https://github.com">
				<i class="fab fa-2x fa-github"></i>
			</a>
			<a href="https://twitter.com">
				<i class="fab fa-2x fa-twitter"></i>
			</a>
			<a href="https://instagram.com">
				<i class="fab fa-2x fa-instagram"></i>
			</a>
		</div>
	</div>
</div>
{% endblock %}
