{% extends "layout.html" %} {% block title %}Contact{% endblock %} {% block
content %}
<div class="contact">
	<h1>Stay in Touch</h1>
	{% if api is none %}
	<p>WARNING: CONTACT_FORM_ACTION is not set, there is nowhere for data to go!</p>
	{% endif %}
	<form action="{{api}}" method="POST">
		<div class="field">
			<input type="text" name="name" placeholder="Name" />
		</div>
		<div class="field">
			<input type="email" name="_replyto" placeholder="Email" />
		</div>
		<div class="field">
			<textarea
				name="message"
				placeholder="Message"
				rows="6"
				cols="25"
			></textarea>
		</div>
		<input class="field" type="submit" value="Send Message" />
	</form>
</div>
{% endblock %}
